html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #324376;
  margin: 0%;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}

#navbar {
  position: fixed;
  font-size: 26px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  min-width: 100rem;
  padding: 1rem;
  z-index: 1;
}

#navbar a:hover {
  background-color: #06d8fc;
  color: black;
}

#navbar .nav-link {
  margin-left: 3rem;
  text-decoration: none;
  border: 5px inset #456990;
  padding: 0.5rem 1rem;
  background: aquamarine;
  max-width: 6rem;
}

a {
  text-decoration: none;
}

#home {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 32px;
  padding: 1rem 5rem;
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 32px;
  padding: 1rem 5rem;
}

.avatar {
  /* position: absolute; */
  right: 5rem;
  max-width: 35vw;
  border: 5px inset #06d8fc;
  z-index: -1;
}
h2 {
  text-align: center;
  font-size: 32px;
  padding-top: 5rem;
}
.project-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5rem;
  background-color: #06d8fc;
  padding: 5rem;
  background-image: linear-gradient(#06d8fc, #83fde0);
  border: 5px inset #06d8fc;
}

.project-tile {
  position: relative;
  filter: hue-rotate(180deg);
  height: 30vh;
  background-size: cover;
  background-position: top;
  max-width: 100%;
  min-width: 30%;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #456990;
  opacity: 0.8;
  transition: all 0.5s ease;
}

#ga-hikes {
  grid-column: 1 / span 2;
  height: 50vh;
  background-image: url("../assets/thumbnails/ga-hikes.png");
}

#code-quiz {
  background-image: url("../assets/thumbnails/code-quiz.png");
}

#weather {
  background-image: url("../assets/thumbnails/weatherDashboard.png");
}

#landing-page {
  background-image: url("../assets/thumbnails/landing_page_thumbnail.png");
}

#password {
  background-image: url("../assets/thumbnails/password-screenshot.png");
}

.project-tile:hover {
  filter: none;/*changes image color on hover*/
  opacity: 1;
  transition: all 0.5s ease;
  box-shadow: 15px 15px 15px #456990;
  transform: scale(1.02); /*looks like image is moving towards you*/
}

/* positioned inside .tile-content to get text centered */
/*unfortunately, text blocks hover effects. still clickable.*/
.tile-content {
  position: absolute;
  background-color: white;
  border: 3px inset grey;
  bottom: 0;
  left: 0;
  padding: 2rem;
  border-bottom-left-radius: 8px;
}

/*email address tag*/
address {
  font-style: normal;
}

.contact-img {
  max-width: 50px;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
}

#profile-link {
  display: flex;
  align-items: center;
}
#email {
  display: flex;
  align-items: center;
}
#linkedin {
  display: flex;
  align-items: center;
}
#links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border: 5px inset #2797ed;
  padding: 2rem;
  margin: 2rem 20%;
  min-width: 10rem;
  background-color: #88fddf;
}

footer {
  display: blcok;
  position: relative;
  text-align: center;
}
/*mobile friendly*/

@media only screen and (max-width: 600px) {
  #home,
  #about {
    font-size: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .project-grid {
    padding: 2rem;
    grid-gap: 2rem;
  }

  .avatar {
    display: inline-block;
    position: absolute;
    bottom: 22%;
    right: 19%; /*this centers img*/
    min-width: 60%;
    min-height: 30%;
  }

  #navbar {
    flex-direction: column;
    margin-left: 0;
  }

#navbar .nav-link {
  margin-left: 0;
}

  #welcome-section {
    font-size: 1rem;
  }
  .project-flex-bottom {
    flex-wrap: wrap;
    max-width: 100%;
  }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*responsive for anything above 600px*/
@media only screen and (min-width: 601px) {
  #navbar {
    position: fixed;
    font-size: 26px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    min-width: 100rem;
    padding: 1rem;
    z-index: 1;
  }

  .nav-link {
    
    text-decoration: none;
    border: 5px inset #456990;
    padding: 0.5rem 1rem;
    background: aquamarine;
    max-width: 6rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 784px) {
  .tile-content .text {
    font-size: 2vh;
  }
  #navbar {
    flex-direction: column;
    margin-left: none;
  }
  #navbar .nav-link {
    margin-left: 0;
  }
  h1 {
    max-width: 12rem;
  }
}

@media only screen and (max-width: 709px) {
  .project-tile {
    grid-column: 1 / span 2;
  }
  h1 {
    max-width: 12rem;
  }
}

/*h1 text will stay wrapped to avoid covering avatar*/
@media only screen and (max-width: 1240px) {
  h1 {
    /* display: flex; */
    /* flex-wrap: wrap; */
    max-width: 35rem;
  }
  p {
    display: flex;
    flex-wrap: wrap;

    max-width: 30rem;
    font-size: 20px;
  }
}
