html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #324376;
  margin: 0%;
}
#navbar {
  position: fixed;
  font-size: 26px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  min-width: 100rem;
  padding: 1rem;
  z-index: 1;
}
.nav-link {
  margin-left: 3rem;
  text-decoration: none;
  border: 5px inset #456990;
  padding: 0.5rem 1rem;
  background: aquamarine;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

a {
  text-decoration: none;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 32px;
  padding: 1rem 5rem;
}

@media only screen and (max-width: 1024px) {
  h1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 10rem;
  }
}

.avatar {
  position: absolute;
  right: 5rem;
  max-width: 30vw;
  border: 5px inset #06d8fc;
  z-index: -1;
}
h2 {
  text-align: center;
  font-size: 32px;
  padding-top: 5rem;
}
#projects {
  background-color: #06d8fc;
  padding: 20px;
  background-image: linear-gradient(#06d8fc, #83fde0);
  border: 5px inset #06d8fc;
}

.project-tile {
  padding: 20px;
}

.tile-content {
  position: relative;
}

.project-image {
  max-width: 100%;
  min-width: 30%;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #456990;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.project-image:hover {
  filter: hue-rotate(180deg);
  opacity: 1;
  transition: all 0.5s ease;
  box-shadow: 15px 15px 15px #456990;
  transform: scale(1.1);
}

.project-flex-top,
.project-flex-middle,
.project-flex-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* positioned inside .tile-content to get text centered */
.tile-content .text {
  color: white;
  font-size: 3vh;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  padding: 20px 0px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*mobile friendly*/
@media only screen and (max-width: 600px) {
  .project-flex-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .project-flex-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
address {
  font-style: normal;
}

.contact-img {
  max-width: 30px;
  padding: 10px;
  align-items: center;
}
#profile-link {
  display: flex;
  align-items: center;
}
#email {
  display: flex;
  align-items: center;
}
#phone {
  display: flex;
  align-items: center;
}
#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 5px inset #2797ed;
  padding: 2rem;
  margin-left: 35%;
  margin-right: 35%;
  min-width: 10rem;
  background-color: #88fddf;
}
