html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #324376;
  margin: 0%;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}

.fa {
  font-size: 2rem;
  padding: 2%;
}
a {
  text-decoration: none;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 32px;
  padding: 1rem 5rem;
}

.avatar {
  position: absolute;
  right: 5rem;
  max-width: 35vw;
  border: 5px inset #06d8fc;
  z-index: -1;
}
h2 {
  text-align: center;
  font-size: 32px;
  padding-top: 5rem;
}
#projects {
  background-color: #06d8fc;
  padding: 20px;
  background-image: linear-gradient(#06d8fc, #83fde0);
  border: 5px inset #06d8fc;
}

.project-tile {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tile-content {
  position: relative;
}

.project-image {
  max-width: 100%;
  min-width: 30%;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #456990;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.project-image:hover {
  filter: hue-rotate(180deg); /*changes image color on hover*/
  opacity: 1;
  transition: all 0.5s ease;
  box-shadow: 15px 15px 15px #456990;
  transform: scale(1.02); /*looks like image is moving towards you*/
}

.project-flex-top,
.project-flex-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* positioned inside .tile-content to get text centered */
.tile-content .text {
  color: white;
  font-size: 3vh;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  padding: 20px 0px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*mobile friendly*/

@media only screen and (max-width: 600px) {
  #welcome-section {
    font-size: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  /*header stays centered and above avatar*/
  h1 {
    display: block;
    position: absolute;
    top: 10%;
    text-align: center;
  }
/*text line below avatar*/
  #welcome-section p {
    display: inline-block;
    position: absolute;
    bottom: 10%;
  }

  .avatar {
    display: inline-block;
    position: absolute;
    bottom: 22%;
    right: 20%;
    min-width: 60%;
    min-height: 30%;
  }

  #navbar .nav-link {
    color: black;
    padding: 0.25rem 7rem;
    border-bottom: 3px solid #06d8fc;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-align: end;
  }

  #navbar {
    background: #83fde0;
    display: block;
    position: fixed;
    right: 2rem;
    left: 2rem;
    top: 0;
    max-width:fit-content;
    z-index: 1;
  }

  #navbar a:hover {
    background-color: #06d8fc;
    color: black;
  }

  #welcome-section {
    font-size: 1rem;
  }
  .project-flex-bottom {
    flex-wrap: wrap;
    max-width: 100%;
  }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*responsive for anything above 600px*/
@media only screen and (min-width: 601px) {
  #navbar {
    position: fixed;
    font-size: 26px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    min-width: 100rem;
    padding: 1rem;
    z-index: 1;
    visibility: visible;
  }
  /*197-202: hamburger menu disappears and navbar reappears*/
  .fa {
    visibility: hidden;
  }
  .nav-link {
    margin-left: 3rem;
    text-decoration: none;
    border: 5px inset #456990;
    padding: 0.5rem 1rem;
    background: aquamarine;
  }
}

@media only screen and (min-width: 601px) and (max-width: 784px) {
  .project-flex-bottom .project-tile {
    max-width: 42%;
  }
  .tile-content .text {
    font-size: 2vh;
  }
}

/*adjusts layout slightly as screen expands*/
@media only screen and (min-width: 785px) {
  .project-flex-bottom .project-tile {
    max-width: 44%;
  }
  .tile-content .text {
    font-size: 2vh;
  }
}
@media only screen and (max-width: 709px) {
  #navbar {
    min-width: 0%;
  }
  .nav-link {
    max-width: fit-content;
    font-size: 1rem;
    text-align: center;
  }
}

/*h1 text will stay wrapped to avoid covering avatar*/
@media only screen and (max-width: 1240px) {
  h1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 10rem;
  }
}
/*email address tag*/
address {
  font-style: normal;
}

.contact-img {
  max-width: 30px;
  padding: 10px;
  align-items: center;
}
#profile-link {
  display: flex;
  align-items: center;
}
#email {
  display: flex;
  align-items: center;
}
#phone {
  display: flex;
  align-items: center;
}
#links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 5px inset #2797ed;
  padding: 2rem;
  margin-left: 35%;
  margin-right: 35%;
  min-width: 10rem;
  background-color: #88fddf;
}
